@model List<EADProject.Models.Gallery>
@{
    ViewBag.Title = "Gallery";
}

<div class="content">
    <div class="ic">More Website Templates </div>
    <div class="container_12">
        <div class="grid_12">
            <h2>Gallery</h2>
        </div>
        <div class="clear"></div>
        <div class="gallery">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="grid_4">@Html.ActionLink(item.image, "Index", "Home")<img src="~/images/@item.image" alt=""></div>
                }
            }


            @*<div class="grid_4"><a href="images/big1.jpg" class="gal">@Html.ActionLink( big1.jpg , "Index", "Home")<img src="images/page3_img1.jpg" alt=""></a></div>
            <div class="grid_4"><a href="images/big2.jpg" class="gal"><img src="images/page3_img2.jpg" alt=""></a></div>
            <div class="grid_4"><a href="images/big3.jpg" class="gal"><img src="images/page3_img3.jpg" alt=""></a></div>
            <div class="clear"></div>
            <div class="grid_4"><a href="images/big4.jpg" class="gal"><img src="images/page3_img4.jpg" alt=""></a></div>
            <div class="grid_4"><a href="images/big5.jpg" class="gal"><img src="images/page3_img5.jpg" alt=""></a></div>
            <div class="grid_4"><a href="images/big6.jpg" class="gal"><img src="images/page3_img6.jpg" alt=""></a></div>*@
        </div>
    </div>
</div>


